{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1><center>Welcome to dijital  </center></h1>
    <h2><center>กรุณาตั้งใจเรียน เข้าใจบ่ จะไม่ง่วงนอน</center></h2>
    <h2><center>จิ๋วแจ๊ค นะคะ </center></h2>
    <br>this list is for you.<
    <a href="/Secondpage.html"> GO TO Secondpage</a><br>
    <a href="/thirdpahe">go to third pahe</a><br><br>
    <br>
    <center>
         <img src="{% static 'images/r.12.png'%} " width="400px"height="350px">
    </center>
    </p>


{% endblock %}