{% extends 'base.html' %}
{% load static %}
{% block contener %}

    <h1>ยินดีต้อนรับเด้อ</h1>
    <h2>อิฉันจำยังบ่ใดเลย</h2>
    <h2>เพลงดัง</h2>
    <p>
    พลงนั้นแจ้งเกิดเป็นเพลงฮิตโดยปริยา ซึ่งวันนี้เราได้รวบรวมเพลงฮิตบน Tiktok  เตรียมพร้อม
    <br> ********<br><br><img src="../static/images/00.png" height="100px" width="150px">
    <a href="/thirdpahe">Go to third pahe </a><br>
    <a href="/firstPage">FIRST PAGE</a><br><br>

    <p align="center">
        <img src="{% static 'images/11.png' %}" width="400px" height="350px">
    </p>

{% endblock %}